# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
ENV/
.venv/

# Variables de entorno
.env

# Archivos de distribución
build/
dist/
*.egg-info/

# Logs
*.log

# Configuración de IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# Archivos temporales
*.tmp
*.swp

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# coverage
.coverage
htmlcov/

# SQLite databases
*.sqlite3

# PyCharm
*.iml